extends layout

block content
  h1= "EX2 - António Santos (PG47031)"
  p Welcome to #{title}
  center
    table
      tr
        th
          a(href="/classes/")= "Classes"
        th
          a(href="/termos/")= "Termos de Índice"


